<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Page Not Found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div>
                <h1>Whoops! Looks like you found a link to nowhere</h1>

                <p> This is a Random Workings Website Project and it is still a Work in Progress (WIP) so these things happen. </p>

                <p> Sorry.</p>

                <a href="/">Return Home?</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>
